*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ly-container {
  padding: 0 1rem 3rem;
}

.sign-wrap .isChecked {
  background-color: aquamarine;
}

.scroll-wrap {
  overflow: auto;
}

.scroll-wrap .table {
  width: auto;
}

.table {
  table-layout: fixed;
  min-width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  white-space: nowrap;
  padding: 1rem .5rem;
}

.table th {
  background-color: #253858;
  color: white;
  border-left: 1px solid white;
}

.table th:first-child {
  border-left: none;
}

.table td {
  border-top: 1px solid #eee;
  text-align: center;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='date'],
input[type='phone'],
input[type='number'],
button[type='button'] {
  border: 1px solid gray;
  border-radius: .25rem;
  background-color: white;
  margin: 0;
  padding: 0 .5rem;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

input,
select,
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1rem;
  height: 2.5rem;
}

button {
  white-space: nowrap;
}

.game-detail {
  position: relative;
  padding-bottom: 3rem;
}

.game-detail .player {
  width: 60px;
}

.game-detail input {
  text-align: center;
}

.btn-wrap.floating {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 0 1rem;
}

.btn {
  min-width: 100%;
}

.btn-primary {
  height: 4rem;
  background-color: #2684ff !important;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border-width: 0;
  border-radius: .75rem;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  margin: 1rem 0;
  border-radius: .75rem;
}

.top-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.top-nav li {
  position: relative;
  display: inline-block;
  text-align: center;
}

.top-nav li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1px;
  height: 70%;
  background-color: black;
  opacity: .5;
}

.top-nav li:first-child::before {
  display: none;
}

.top-nav a {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: .5rem 0;
}

.row > input {
  width: 100%;
  margin: 0 .25rem;
}

.court-wrap [name='gameDate'] {
  width: 50%;
}

.court-wrap [name='courtName'] {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.court-wrap [name='courtTimeMove'] {
  width: 50px;
}

.court-wrap [name="courtNumber"] {
  width: 25%;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */