*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2 {
  margin: 1rem 0;
  line-height: 1.5rem;
  font-size: 1.25rem;
}

a {
  color: black;
  text-underline-offset: 3px;
}

.ly-container {
  padding: 0 1rem 6rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header a {
  display: inline-block;
}

.sign-wrap .isChecked {
  background-color: aquamarine;
}

.scroll-wrap {
  overflow: auto;
}

.scroll-wrap .table {
  width: auto;
}

.co-win {
  color: red;
}

.co-lose {
  color: blue;
}

.table {
  table-layout: fixed;
  min-width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  white-space: nowrap;
  padding: 0.5rem 0.3rem;
  font-size: 0.75rem;
}

.table th {
  background-color: #253858;
  color: white;
  border: 1px solid white;
}

.table th:first-child {
  border-left: none;
}

.table td {
  border-top: 1px solid #d9d9d9;
  text-align: center;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='date'],
input[type='phone'],
input[type='number'],
button[type='button'] {
  border: 1px solid gray;
  border-radius: 0.25rem;
  background-color: white;
  margin: 0;
  padding: 0 0.25rem;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

input,
select,
button {
  font-size: 0.75rem;
  height: 1.5rem;
  vertical-align: top;
  cursor: pointer;
}

button,
input[type=submit] {
  white-space: nowrap;
}

.select {
  padding: 0 .75rem 0 .25rem;
}

.game-detail {
  position: relative;
  padding-bottom: 3rem;
}

.game-detail .player {
  width: 50%;
}

.game-detail input {
  text-align: center;
}

.game-result .header {
  margin: 0.5rem 0;
}

.game-result .date-name {
  margin: 0;
  font-size: 0.9rem;
}

.game-result .count {
  margin: 0;
  font-size: 0.8rem;
}

.game-result .win {
  background-color: #e1edfc;
}

.game-result .lose {
  background-color: #feeddd;
}

.game-result .tie {
  background-color: #ededed;
}

.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -0.5rem;
}

.btn-wrap.floating {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

.btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
  border-width: 0;
  border-radius: 0.75rem;
  height: 3rem;
  margin: 0 0.5rem;
  width: 100%;
}

.btn-primary {
  background-color: #2684ff !important;
  color: white;
}

.btn-secondary {
  background-color: #e6e6e6;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  margin: 1rem 0;
  border-radius: 0.75rem;
}

.top-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.top-nav li {
  position: relative;
  display: inline-block;
  text-align: center;
}

.top-nav li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1px;
  height: 70%;
  background-color: black;
  opacity: 0.5;
}

.top-nav li:first-child::before {
  display: none;
}

.top-nav a {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0;
}

.row > input {
  width: 100%;
  margin: 0 0.25rem;
}

.court-wrap [name='gameDate'] {
  width: 50%;
}

.court-wrap [name='courtName'] {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.court-wrap [name='courtTimeMove'] {
  width: 50px;
}

.court-wrap [name='courtNumber'] {
  width: 25%;
  text-align: center;
}

.ml-1 {
  margin-left: .25rem;
}

.w-50 {
  width: 50%;
}

.ta-l {
  text-align: left !important;
}
/*# sourceMappingURL=index.css.map */